@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body{
    background: linear-gradient(90.18deg, #0D6B6D 8.82%, #259295 92.73%);
    font-family: 'Montserrat', sans-serif;
}
.bg-darkgreen{
    background: #0E6668;
}

.cover{
    margin-top: 100px;
}

.cover-left{
    margin-top: 18vh;
}

.bit-title h1{
    font-weight: 800;
}

.small-title p{
    font-size: 15px;
    line-height: 25px;
}

.btn-cyan{
    background: #008D91;
    color: #fff;
    padding: 9px 35px;
    border-radius: 0px;
}

.box-left{
    background: linear-gradient(270deg, #018B8E 7.98%, #0E6668 100%);
border-radius: 30px;
height: 300px;
}

.box-right{
    background: #0E6668;
border-radius: 30px;
height: 400px;
}

.about-title{
    font-weight: 800;
    margin-top: 100px;

}

.portfolio{
    margin-top: 30px;
    margin-left: 500px;
}

.bg-gradient-green{

    background: linear-gradient(270deg, #018B8E 7.98%, #0E6668 100%);
    height: 200px;
    border-radius: 20px;


}